@tailwind base;
@tailwind components;
@tailwind utilities;



.perspective {
    perspective: 600px;
}

@keyframes flipTop {
    0% {
        transform: rotateX(0deg);
        opacity: 1;
    }
    80% {
        transform: rotateX(-90deg);
        opacity: 1;
    }
    100% {
        transform: rotateX(-90deg);
        opacity: 0;
    }
}

.animate-flip {
    animation: flipTop 0.6s ease-in-out forwards;
    transform-origin: top;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.backface-hidden {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}